body {
	margin: 0;
	background-color: #303030;
	user-select: none;
}
#myst-container {
	position: absolute;
	background-color: #222;
	width: 100%;
	height: 350px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	min-width: 800px;
}
#myst-container .info {
	position: relative;
	top: -50px;
	left: 0;
	width: 300px;
	height: 50px;
	padding-left: 20px;
	line-height: 50px;
	background-color: #222;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #777;
}
#myst-container .info:after {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 0 50px;
	border-color: transparent transparent transparent #222;
	left: 320px;
	top: 0;
	content: '';
}
#myst-container .info .hl {
	color: #aaa;
}
#myst-example {
	position: absolute;
	background-color: #fff;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
#myst-container .description {
	position: absolute;
	left: 0;
	bottom: -40px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: sans-serif;
	font-size: 14px;
	color: #efefef;
	background-color: #000;
	text-align: center;
}
#myst-container .nav-btn {
	position: absolute;
	bottom: -90px;
	width: 150px;
	height: 50px;
	font-family: sans-serif;
	color: #ccc;
	background-color: #555;
	cursor: pointer;
	outline: none;
}
#myst-container .nav-btn.back {
	left: 0;
}
#myst-container .nav-btn.next {
	right: 0;
}
#myst-container .nav-btn .icon {
	position: absolute;
}
#myst-container .nav-btn .label {
	line-height: 50px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
#myst-container .nav-btn.back .icon {
	left: 16px;
	top: 17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 15px 8px 0;
	border-color: transparent #ccc transparent transparent;
}
#myst-container .nav-btn.next .icon {
	right: 16px;
	top: 17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 15px;
	border-color: transparent transparent transparent #ccc;
}
#myst-container .nav-btn.back .label {
	float: right;
	padding-right: 22px;
}
#myst-container .nav-btn.next .label {
	float: left;
	padding-left: 22px;
}
#myst-container .nav-btn.back:after {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 0;
	border-color: #555 transparent transparent transparent;
	left: 150px;
	top: 0;
	content: '';
}
#myst-container .nav-btn.next:after {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 50px 0;
	border-color: transparent #555 transparent transparent;
	right: 150px;
	top: 0;
	content: '';
}
#myst-container .nav-btn:hover,
#myst-container .nav-btn:focus {
	background-color: brown;
	color: #fff;
}
#myst-container .nav-btn.back:hover:after,
#myst-container .nav-btn.back:focus:after{
	border-color: brown transparent transparent transparent;
}
#myst-container .nav-btn.next:hover:after,
#myst-container .nav-btn.next:focus:after{
	border-color: transparent brown transparent transparent;
}
#myst-container .nav-btn.back:hover .icon,
#myst-container .nav-btn.back:focus .icon {
	border-color: transparent #fff transparent transparent;
}
#myst-container .nav-btn.next:hover .icon,
#myst-container .nav-btn.next:focus .icon{
	border-color: transparent transparent transparent #fff;
}